<div class="mainC">
    <mat-card>

        <img mat-card-image class="imageC" [src]="data.image" alt="Photo of a Shiba Inu">
        <mat-card-content>

            <p class="tL4" style="font-weight: bold;"> {{data.title}} </p>
            <p class="tL5 colorBlueOcean" style="font-weight: 500;"> {{data.date}} </p>
            <p class="tL5"> {{data.description}} </p>
            <p class="tL5 colorBlueOcean" style="font-weight: 500;"> {{data.extraInfo}} </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
    <br>
    <br>
</div>