<div class="mainH">

    <h1 style="text-align: center;"> <strong> Bienvenido</strong>

    </h1>
    <h3 style="text-align: center;">
        by: Jhoan Saavedra
    </h3>

</div>


<div class="row" style="max-width: 1200px; margin: 0 auto; margin-top: 20px;">


    <div class="col-6">

        <div class="centerAlign">
            <button type="button" class="btn btn-secondary" (click)="goToPart(1)">Prueba Visual </button>
        </div>
    </div>

    <div class="col-6">

        <div class="centerAlign">
            <button type="button" class="btn btn-secondary" (click)="goToPart(2)">Prueba tecnica de tabla </button>
        </div>
    </div>

    <div class="center">

    </div>



</div>