<div class="mainLimit">
    <div class="row">

        <div class="col-12 col-md-3">
            <p class="tL3" style="color: white; font-weight: 500;">About</p>
            <br>
            <p class="tL4" style="color: rgb(206, 206, 206);">History</p>
            <p class="tL4" style="color: rgb(206, 206, 206);">Out Team</p>
            <p class="tL4" style="color: rgb(206, 206, 206);">Brand Guidelines</p>
            <p class="tL4" style="color: rgb(206, 206, 206);">Term & Condition</p>
            <p class="tL4" style="color: rgb(206, 206, 206);">Privacy Policy</p>
            <br>
        </div>

        <div class="col-12 col-md-3">
            <p class="tL3" style="color: white; font-weight: 500;">Services</p>
            <br>
            <p class="tL4" style="color: rgb(206, 206, 206);">How to Order</p>
            <p class="tL4" style="color: rgb(206, 206, 206);">Our Product</p>
            <p class="tL4" style="color: rgb(206, 206, 206);">Order Status</p>
            <p class="tL4" style="color: rgb(206, 206, 206);">Promo</p>
            <p class="tL4" style="color: rgb(206, 206, 206);">Payment Method</p>
            <br>
        </div>

        <div class="col-12 col-md-6" style="text-align: end;">
            <p class="tL3" style="color: white; font-weight: 500;">Title Here</p>
            <p class="tL4" style="color: rgb(206, 206, 206);">Lorem lpsum abailable, but the majorit</p>
            <br>
            <div class="row">
                <div class="col-8 col-md-9 col-lg-10" style="height: 50px; background-color: #fec400;">

                </div>
                <div class="col-4 col-md-3 col-lg-2 center" style="height: 50px; background-color: #00c0cb;">

                    <mat-icon style=" font-size: 50px; color: white; ">telegram</mat-icon>
                </div>
            </div>
            <br>
            <section>
                <mat-icon style=" font-size: 45px; color: white; ">facebook</mat-icon>
                <mat-icon style=" font-size: 45px; color: white;  margin: 0 30px; ">whatsapp </mat-icon>
                <mat-icon style=" font-size: 45px; color: white;  margin: 0 0px; ">account_circle</mat-icon>
                <mat-icon style=" font-size: 45px; color: white;  margin: 0 30px; ">fingerprint </mat-icon>
            </section>

        </div>

    </div>
</div>