<div>
    <div class="body-orange">
        <div class="row mainLimit">
            <div class="col-12 col-md-7 " style="margin-top: 9vh;">

                <p class="tL1" style="color: white;">First I wanted to be a veterinarian</p>
                <br>
                <p class="tL3" style="color:#fcf1c7">Sed pharetra dui nec orci viverra imperdiet ac hendrerit nisl. Sed metus urna, rutrum ac facilisis sit amet, luctus ut magna. Praesent id ex magna. Vivamus id maximus massa. Integer accumsan posuere quam, id cursus erat gravida nec.</p>


                <button mat-raised-button class="tL4 buttonP" style="background-color: #00c0cb; color: white; margin-right: 20px; margin-bottom: 20px;">Contact us</button>
                <button mat-raised-button class="light-button tL4 buttonP">Our service</button>




            </div>

            <div class="col-12 col-md-5 ">
                <div class="center">
                    <img class="image-pub" src="assets/pub_negro.png">
                </div>

            </div>
        </div>
    </div>

    <div class="body-white">
        <app-veterian-video [data]="veterinianVideos[0]"></app-veterian-video>
    </div>

    <div class="body-orange">
        <app-generic-wrap-card [data]="genericDetail[0]"></app-generic-wrap-card>
    </div>

    <div class="body-white">
        <app-veterian-video [data]="veterinianVideos[1]"></app-veterian-video>
    </div>

    <div class="body-orange">
        <app-generic-wrap-card [data]="genericDetail[1]"></app-generic-wrap-card>
    </div>




    <div class="body-white">

        <app-generic-wrap-card [data]="genericDetail[2]"></app-generic-wrap-card>

    </div>

    <div style="background-color: #fec400;
    background-image: url('https://thumbs.dreamstime.com/b/perro-pastor-alemano-de-pelo-largo-yace-en-un-fondo-gris-aislado-el-estudio-alem%C3%A1n-y-amarillo-banner-alta-calidad-209864468.jpg');">

        <div style="background-color: #fec300c7; padding: 18vh 10vh; ">
            <div class="mainLimit">


                <div class="row">

                    <div class="col-12 col-md-4 center-grid">

                        <div style="text-align: center; ">
                            <img width="100px" height="100px" src="assets/corazon.png">

                        </div>
                        <br>
                        <br>
                        <p class="tL2" style="color: white; text-align: center;">+34793</p>
                        <p class="tL2" style="color: white;text-align: center;">Happy Clients</p>




                    </div>
                    <div class="col-12 col-md-4 center-grid">
                        <div style="text-align: center; ">
                            <img width="100px" height="100px" src="assets/doctor.png">

                        </div>
                        <br>
                        <br>
                        <p class="tL2" style="color: white;text-align: center;">+45382</p>
                        <p class="tL2" style="color: white;text-align: center;">Departament</p>
                    </div>
                    <div class="col-12 col-md-4 center-grid">
                        <div style="text-align: center; ">
                            <img width="100px" height="100px" src="assets/vacuna.png">

                        </div>
                        <br>
                        <br>
                        <p class="tL2" style="color: white;text-align: center;">+54762</p>
                        <p class="tL2" style="color: white;text-align: center;">Vaccinations</p>
                    </div>

                </div>

            </div>
        </div>

    </div>


    <div class="body-white">
        <app-generic-wrap-card [data]="genericDetail[3]"></app-generic-wrap-card>
    </div>


</div>